# Ignore local environment overrides
.env
.env.*

# Compose state
**/data
**/logs

# OS
.DS_Store

# Logs
*.log

# Docker
**/volumes/
**/.docker/

# IDEs
.vscode/
.idea/

# Temporary files
tmp/

# Dependency directories
cli/node_modules
node_modules