version: "3.9"

services:
  mongodb:
    image: mongo:${MONGO_TAG:-7.0}
    env_file:
      - .env
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongo-data-${MONGO_TAG:-7.0}:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo-data-7.0:

