version: "3.9"

services:
  jaeger:
    image: jaegertracing/all-in-one:1.58
    ports:
      - "16686:16686"
      - "14268:14268"
      - "4317:4317"
      - "4318:4318"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:16686 || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 8

